In [21]:
import pandas as pd

In [22]:
D3 = pd.read_csv("data/Sentiment analysis/Data 3/Sentiment Analysis Dataset.csv", encoding='ISO-8859-1')

In [23]:
D3

          ItemID  Sentiment                                      SentimentText
0              1          0                       is so sad for my APL frie...
1              2          0                     I missed the New Moon trail...
2              3          1                            omg its already 7:30 :O
3              4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4              5          0           i think mi bf is cheating on me!!!   ...
...          ...        ...                                                ...
1048570  1048584          0  Missing my fiancee sooo badly!!!  I love you b...
1048571  1048585          0                                 missing my friend
1048572  1048586          0  Missing my friend and my cousin. Two months pa...
1048573  1048587          0                               missing my friends!
1048574  1048588          0                              Missing my friends!!

[1048575 rows x 3 columns]

In [24]:
D3 = D3[[ 'SentimentText', 'Sentiment']]

In [25]:
D3

                                             SentimentText  Sentiment
0                             is so sad for my APL frie...          0
1                           I missed the New Moon trail...          0
2                                  omg its already 7:30 :O          1
3                  .. Omgaga. Im sooo  im gunna CRy. I'...          0
4                 i think mi bf is cheating on me!!!   ...          0
...                                                    ...        ...
1048570  Missing my fiancee sooo badly!!!  I love you b...          0
1048571                                 missing my friend           0
1048572  Missing my friend and my cousin. Two months pa...          0
1048573                               missing my friends!           0
1048574                              Missing my friends!!           0

[1048575 rows x 2 columns]

In [26]:
D3 = D3.rename(columns={"SentimentText":"text", "Sentiment":"sentiment"})

In [27]:
D3

                                                      text  sentiment
0                             is so sad for my APL frie...          0
1                           I missed the New Moon trail...          0
2                                  omg its already 7:30 :O          1
3                  .. Omgaga. Im sooo  im gunna CRy. I'...          0
4                 i think mi bf is cheating on me!!!   ...          0
...                                                    ...        ...
1048570  Missing my fiancee sooo badly!!!  I love you b...          0
1048571                                 missing my friend           0
1048572  Missing my friend and my cousin. Two months pa...          0
1048573                               missing my friends!           0
1048574                              Missing my friends!!           0

[1048575 rows x 2 columns]

In [28]:

import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

nltk.download('stopwords')
nltk.download('punkt')

# Load stop words
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [29]:

def preprocess_text(text):
    text = text.lower()  # Convert to lowercase
    text = re.sub(r'<.*?>', '', text)  # Remove HTML tags
    text = re.sub(r'http\S+', '', text)  # Remove URLs
    text = re.sub(r'[^a-zA-Z\s]', '', text)  # Remove special characters
    text = ' '.join([word for word in word_tokenize(text) if word not in stop_words])  # Remove stop words
    return text

In [31]:
D3['text'] = D3['text'].apply(preprocess_text)

In [32]:
D3

                                                      text  sentiment
0                                           sad apl friend          0
1                                  missed new moon trailer          0
2                                              omg already          1
3        omgaga im sooo im gunna cry ive dentist since ...          0
4                                  think mi bf cheating tt          0
...                                                    ...        ...
1048570             missing fiancee sooo badly love baybay          0
1048571                                     missing friend          0
1048572    missing friend cousin two months passed quickly          0
1048573                                    missing friends          0
1048574                                    missing friends          0

[1048575 rows x 2 columns]

In [33]:
D3.duplicated().sum()

11695

In [34]:
D3.drop_duplicates()

                                                      text  sentiment
0                                           sad apl friend          0
1                                  missed new moon trailer          0
2                                              omg already          1
3        omgaga im sooo im gunna cry ive dentist since ...          0
4                                  think mi bf cheating tt          0
...                                                    ...        ...
1048567                                 missing family usa          0
1048568                        missing family lots tonight          0
1048569                                     missing fiance          0
1048570             missing fiancee sooo badly love baybay          0
1048572    missing friend cousin two months passed quickly          0

[1036880 rows x 2 columns]

In [35]:
D3.isna().sum()

text         0
sentiment    0
dtype: int64

In [36]:

D3['sentiment'] = D3['sentiment'].map({1: 2, 0: 0})

In [37]:
D3

                                                      text  sentiment
0                                           sad apl friend          0
1                                  missed new moon trailer          0
2                                              omg already          2
3        omgaga im sooo im gunna cry ive dentist since ...          0
4                                  think mi bf cheating tt          0
...                                                    ...        ...
1048570             missing fiancee sooo badly love baybay          0
1048571                                     missing friend          0
1048572    missing friend cousin two months passed quickly          0
1048573                                    missing friends          0
1048574                                    missing friends          0

[1048575 rows x 2 columns]

In [38]:
D3.to_csv("data/Sentiment analysis/Preprocessed data/D3.csv", index=False)