In [39]:
import pandas as pd

In [40]:
D1 = pd.read_csv('data/Intent recognition/Preprocessed data/D1.csv')
D2 = pd.read_csv('data/Intent recognition/Preprocessed data/D2.csv')
D3 = pd.read_csv('data/Intent recognition/Preprocessed data/D3.csv')
D4 = pd.read_csv('data/Intent recognition/Preprocessed data/D4.csv')

In [41]:
D1

                                                    text                intent
0       listen to westbam alumb allergic on google music             PlayMusic
1             add step to me to the 50 clásicos playlist         AddToPlaylist
2      i give this current textbook a rating value of...              RateBook
3                   play the song little robin redbreast             PlayMusic
4      please add iris dement to my playlist this is ...         AddToPlaylist
...                                                  ...                   ...
14211          is any cinema playing the spirit of youth  SearchScreeningEvent
14212  what are the movie times for animated movies i...  SearchScreeningEvent
14213  what s the movie schedule at great escape thea...  SearchScreeningEvent
14214  show the times for cheers for miss bishop at d...  SearchScreeningEvent
14215   i want to see married to the enemy 2 at a cinema  SearchScreeningEvent

[14216 rows x 2 columns]

In [42]:
D2 = D2.drop(columns=['text_length'])

In [43]:
D2

                                          text     intent
0                                           hi   Greeting
1                                     hi there   Greeting
2                                         hola   Greeting
3                                        hello   Greeting
4                                  hello there   Greeting
..                                         ...        ...
138         can you prove you have a conscious  SelfAware
139     can you prove you are selfaware please  SelfAware
140    can you prove you are self aware please  SelfAware
141  can you prove you have a conscious please  SelfAware
142                 prove you have a conscious  SelfAware

[143 rows x 2 columns]

In [44]:
D3

                                                    text        intent
0       question about cancelling order {{Order Number}}  cancel_order
1      i have a question about cancelling oorder {{Or...  cancel_order
2        i need help cancelling puchase {{Order Number}}  cancel_order
3             I need to cancel purchase {{Order Number}}  cancel_order
4      I cannot afford this order, cancel purchase {{...  cancel_order
...                                                  ...           ...
26867  I am waiting for a rebate of {{Refund Amount}}...  track_refund
26868  how to see if there is anything wrong with my ...  track_refund
26869  I'm waiting for a reimbjrsement of {{Currency ...  track_refund
26870  I don't know what to do to see my reimbursemen...  track_refund
26871  I need to know if there is anything new on the...  track_refund

[26872 rows x 2 columns]

In [45]:
D4

                                                   text        intent
0           I have a question about cancelling an order  cancel_order
1                  help canceling the order I have made  cancel_order
2      I do not know how to cancel an order I have made  cancel_order
3             where can I cancel the last order I made?  cancel_order
4                    I don't want the last order I made  cancel_order
...                                                 ...           ...
8170                   I try to check the refund status  track_refund
8171       I want assistance to check the refund status  track_refund
8172  I want assistance checking the status of the r...  track_refund
8173                  how can I check my refund status?  track_refund
8174                       where do I track the refund?  track_refund

[8175 rows x 2 columns]

In [46]:
Data = pd.concat([D1, D2, D3, D4], ignore_index=True)

In [47]:
Data.shape

(49406, 2)

In [48]:
Data.duplicated().sum()

2659

In [49]:
Data = Data.drop_duplicates()

In [50]:
Data.isna().sum()

text      0
intent    0
dtype: int64

In [51]:
Data

                                                    text         intent
0       listen to westbam alumb allergic on google music      PlayMusic
1             add step to me to the 50 clásicos playlist  AddToPlaylist
2      i give this current textbook a rating value of...       RateBook
3                   play the song little robin redbreast      PlayMusic
4      please add iris dement to my playlist this is ...  AddToPlaylist
...                                                  ...            ...
49401                   I try to check the refund status   track_refund
49402       I want assistance to check the refund status   track_refund
49403  I want assistance checking the status of the r...   track_refund
49404                  how can I check my refund status?   track_refund
49405                       where do I track the refund?   track_refund

[46747 rows x 2 columns]

In [52]:
count = Data["intent"].value_counts()

In [53]:
count

intent
GetWeather                  2086
BookRestaurant              2068
PlayMusic                   2064
SearchCreativeWork          2051
AddToPlaylist               2035
RateBook                    1991
SearchScreeningEvent        1921
place_order                 1292
payment_issue               1291
review                      1289
recover_password            1289
set_up_shipping_address     1287
delivery_period             1285
registration_problems       1275
check_refund_policy         1274
complaint                   1274
check_payment_methods       1273
newsletter_subscription     1267
contact_customer_service    1265
contact_human_agent         1262
change_shipping_address     1252
check_invoice               1233
check_cancellation_fee      1228
get_invoice                 1221
delete_account              1214
get_refund                  1197
create_account              1187
change_order                1171
switch_account              1142
track_order                 1107
edit_account                1061
track_refund                1002
delivery_options             958
cancel_order                 793
GreetingResponse               8
CourtesyGreetingResponse       8
Shutup                         7
Greeting                       7
CourtesyGreeting               7
CurrentHumanQuery              7
TimeQuery                      7
NotTalking2U                   7
PodBayDoorResponse             7
SelfAware                      7
Clever                         7
PodBayDoor                     7
Thanks                         6
CourtesyGoodBye                6
RealNameQuery                  6
NameQuery                      6
WhoAmI                         6
Gossip                         6
Jokes                          6
UnderstandQuery                6
Swearing                       4
GoodBye                        4
Name: count, dtype: int64

In [54]:
import re

# Clean text function
def clean_text(text):
    # Handle missing or non-string values
    if not isinstance(text, str):
        return text  # Return as-is (e.g., for NaN or None)
    
    # Convert to lowercase
    text = text.lower()
    # Remove special characters (including underscores)
    text = re.sub(r'[^\w\s]', '', text)  # Removes everything except alphanumeric and whitespace
    text = text.replace('_', '')  # Explicitly remove underscores
    # Remove extra spaces
    text = re.sub(r'\s+', ' ', text).strip()
    return text

# Apply clean_text to the DataFrame columns
Data.loc[:, 'text'] = Data['text'].apply(clean_text)
# Check for non-string values in the 'intent' column
# Apply clean_text to the 'intent' column
Data.loc[:, 'intent'] = Data['intent'].apply(clean_text)

print(Data.head())

                                                text         intent
0   listen to westbam alumb allergic on google music      playmusic
1         add step to me to the 50 clásicos playlist  addtoplaylist
2  i give this current textbook a rating value of...       ratebook
3               play the song little robin redbreast      playmusic
4  please add iris dement to my playlist this is ...  addtoplaylist

In [55]:
Data

                                                    text         intent
0       listen to westbam alumb allergic on google music      playmusic
1             add step to me to the 50 clásicos playlist  addtoplaylist
2      i give this current textbook a rating value of...       ratebook
3                   play the song little robin redbreast      playmusic
4      please add iris dement to my playlist this is ...  addtoplaylist
...                                                  ...            ...
49401                   i try to check the refund status    trackrefund
49402       i want assistance to check the refund status    trackrefund
49403  i want assistance checking the status of the r...    trackrefund
49404                   how can i check my refund status    trackrefund
49405                        where do i track the refund    trackrefund

[46747 rows x 2 columns]

In [58]:
# Get unique intent names
unique_intents = Data['intent'].unique()
print(unique_intents)

['playmusic' 'addtoplaylist' 'ratebook' 'searchscreeningevent'
 'bookrestaurant' 'getweather' 'searchcreativework' 'greeting'
 'greetingresponse' 'courtesygreeting' 'courtesygreetingresponse'
 'currenthumanquery' 'namequery' 'realnamequery' 'timequery' 'thanks'
 'nottalking2u' 'understandquery' 'shutup' 'swearing' 'goodbye'
 'courtesygoodbye' 'whoami' 'clever' 'gossip' 'jokes' 'podbaydoor'
 'podbaydoorresponse' 'selfaware' 'cancelorder' 'changeorder'
 'changeshippingaddress' 'checkcancellationfee' 'checkinvoice'
 'checkpaymentmethods' 'checkrefundpolicy' 'complaint'
 'contactcustomerservice' 'contacthumanagent' 'createaccount'
 'deleteaccount' 'deliveryoptions' 'deliveryperiod' 'editaccount'
 'getinvoice' 'getrefund' 'newslettersubscription' 'paymentissue'
 'placeorder' 'recoverpassword' 'registrationproblems' 'review'
 'setupshippingaddress' 'switchaccount' 'trackorder' 'trackrefund']

In [59]:
Data.to_csv('data/Intent recognition/Preprocessed data/Data.csv', index=False)